<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhWttsvWMkj-Bpvz_8QeQpxDVG8RF8Z6o</string>
	<key>GCM_SENDER_ID</key>
	<string>564733101417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahtu</string>
	<key>PROJECT_ID</key>
	<string>sathu-6de2a</string>
	<key>STORAGE_BUCKET</key>
	<string>sathu-6de2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564733101417:ios:a9cab178c4d849bd7b29f8</string>
</dict>
</plist>